* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif; /* or any font you prefer */
	line-height: 1.6;
	background-color: #eee; /* Light background color */
	color: #333; /* Default text color */
}

/* Utility classes */
.text-center {
	text-align: center;
}

.mb-8 {
	margin-bottom: 8px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-24 {
	margin-bottom: 24px;
}

.p-10 {
	padding: 10px;
}

.bg-primary {
	background-color: #007bff; /* Primary color */
	color: #fff; /* Text color */
}

.border-radius {
	border-radius: 5px; /* Common border radius */
}
